@model MVC.Models.AnswerViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard_layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AnswerViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer_Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer_Tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sender_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anonimity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anonimity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
