@model IEnumerable<MVC.Models.AnswerViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard_layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer_Tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer_Tag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question_id)
        </td>
        <td>
            @{
                if (item.Anonimity != "Y")
                {
                    @Html.DisplayFor(modelItem => item.Sender_Email)

                }

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDate)
        </td>
        <td>
            @{
                if (item.Sender_Email == Session["Email"].ToString())
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })

                }
            }|
            @{
                if (item.Sender_Email == Session["Email"].ToString())
                {

                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }

            }
            @Html.ActionLink("Details", "Details", new { id = item.ID })


        </td>
    </tr>
}

</table>
